/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}


h1 {
	font-weight: 300;
	margin-bottom: @space;
}

h2 {
	font-size: @large-font-size;
	margin-bottom: @space;
}

p {
	margin-bottom: @space;
}

a {
	color: @body-default-color;
}

input[type=text], input[type=email], input[type=password], textarea {
	border: 1px solid @input-border;
	color: @body-default-color;
	font-size: @base-font-size;
	font-family: @body-default-font-family;
	margin-bottom: @space;
	padding: @input-spacing;
}

.navbar {
  margin-bottom: 0;
}

.navbar-static-top {
  background: @blue;
  color: white;
}

.navbar a {
  margin-left: @space;
}

.editor {
  background-color: white;
  border: 1px solid $grey;
  width: 100%;
}

.row div p textarea {
  width: 100%;
}

img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  height: 6rem;
  width: 6rem;
}
// 
// .page-content {
// 	display: flex;
// 	height: @page-content-height;
// 	margin: 0 auto;
// 	max-width: @site-max-width;
//
// 	@media(min-width:50rem) {
// 		padding: @large-space @space;
// 	}
// }
//
// .page-content__sidebar {
// 	display: flex;
// 	transition: left .3s ease;
// 	width: 100vw;
//
// 	position: fixed;
// 	top: @header-height;
// 	left: -100vw;
// 	bottom: 0;
//   z-index: 1;
//
// 	@media(min-width:50rem) {
// 		display: flex;
// 		padding-right: @large-space;
// 		position: static;
// 		width: 30vw;
// 	}
// }
//
// .is-nav-open .page-content__sidebar {
// 	left: 0;
// }
//
// .page-content__main {
//
//
//
// 	@media(min-width:50rem) {
// 		width: 70vw
// 	}
// }
